{% load i18n %}{% autoescape off %}
{% blocktranslate %}Otrzymujesz tego e-maila, ponieważ poprosiłeś o zresetowanie hasła do swojego konta użytkownika pod adresem {{ site_name }}.{% endblocktranslate %}

Kliknij w link aby zmienić hasło:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Twoja nazwa użytkownika to: {{ user.get_username }}

Życzymy miłego dnia!

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}
