{% extends 'glowny.html' %}
{% load bootstrap %}
{% block tytul %} Zmiana hasła {% endblock %}


{% block strona %}


{% if validlink %}

<header class="hero-img">
    <br>
    <br>
    <br>
    <br>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Wprowadź swoje nowe hasło.</h5>
            <form method="post">{% csrf_token %}
                <fieldset class="module aligned">
                    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                    <div class="form-row field-password1">
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">New password: </label>
                        {{ form.new_password1 }}
                    </div>
                    <div class="form-row field-password2">
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password: </label>
                        {{ form.new_password2 }}
                    </div>
                    <br>
                    <!-- <input type="submit" value="Change my password"> -->
                    <button class="btn btn-primary" type="submit" value="Change my password">Zmień hasło</button>
                </fieldset>
            </form>           
        </div>
    </div>
    <div class="hero-shadow"></div>   
</header>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new
    password reset.</p>

{% endif %}



{% endblock %}



