{% extends 'glowny.html' %}
{% load bootstrap %}

{% block strona %}

<header class="hero-img">
    <br>
    <br>
    <br>
    <br>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Zapomniałeś hasła? Wpisz swój adres email.</h5>
            <form method="post">
                {% csrf_token %}
                <!-- {{ form|bootstrap }} -->
                <fieldset class="module aligned">
                    <div class="form-row field-email">
                        {{ form.email.errors }}
                        <label for="id_email">Email address: </label>
                        {{ form.email }}
                    </div>
                    <br>
                    <!-- <input type="submit" value="Reset my password"> -->
                    <button class="btn btn-primary" type="submit" value="Reset my password">Zresetuj hasło</button>
                </fieldset>
            </form>           
        </div>
    </div>
    <div class="hero-shadow"></div>   
</header>


{% endblock %}


